<div class="services-brand-container">
  <ul>
    <li>الكل</li>
    <li>تويوتا (Toyota)</li>
    <li>هيونداي (Hyundai)</li>
    <li>نيسان (Nissan)</li>
    <li>فورد (Ford)</li>
    <li>هوندا (Honda)</li>
    <li>شيفروليه (Chevrolet)</li>
    <li>كيا (Kia)</li>
    <li>مرسيدس بنز (Mercedes-Benz)</li>
    <li>بي إم دبليو (BMW)</li>
    <li>فولكس فاجن (Volkswagen)</li>
  </ul>
</div>
<div class="service-category-container">
  <ul>
    <li>أصلي</li>
    <li>تجاري</li>
  </ul>
</div>
<div class="service-factory-container">
  <ul>
    <li>اليابان</li>
    <li>ألمانيا</li>
    <li>اليابان</li>
    <li>ألمانيا</li>
    <li>اليابان</li>
    <li>ألمانيا</li>
    <li>اليابان</li>
    <li>ألمانيا</li>
  </ul>
</div>
